.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-align: center;
  color: var(--color-secondary-400);
}

.link:hover {
  color: var(--color-secondary-800);
  text-decoration: var(--color-secondary-800) wavy underline;
  transition: color 0.5s ease-in-out;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
